@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

header{
    background-color: white;
}

nav{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

nav figure img{
    width: 100%;
}
nav button{
    padding: 8px 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border-radius: 20px 20px 0 20px;
    border: none;
    animation:navButtonAnimation 1s infinite linear;
}
@keyframes navButtonAnimation{
    50%{
        background-color: #0862AB;
    }
    100%{
        background-color: #FFCF40 ;
    }
}


.container{
    max-width: 1140px;
    margin: auto;
}

.section-1{
    background-image: url(https://packshifts.in/images/banner.jpg);
}

.banner{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 80px 0;
    align-items: center;
}

.banner-content{
    width: 60%;
}

.banner-content h1{
    font-size: 28px;
}

.banner-form{
    width: 40%;
    padding: 20px;
    border-radius: 15px;
    background-color: #f3f3f3;
}

.banner-form form > input{
    width: 100%;
    padding: 6px;
    margin: 6px 0;
    border-color: 1px solid darkgrey ;
}

.banner-form form >h2{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.banner-form form >div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.banner-form form >div input{
    width: 100%;
    padding: 6px;
    margin: 6px 0;
}

.banner-form form >div input:first-child{
    border-color: 1px solid darkgrey ;
}

.banner-form form >div input:last-child{
    border-color: 1px solid darkgrey;
    border: none;
    background-color: #FFCF40;
    text-align: center;
}

.banner-form form > p {
    font-size: 14px;
    margin: 10px 0;
}

.banner-form form >p a{
    color: #0862AB ;
}

.banner-form form > button{
    text-transform:uppercase ;
    width: 100%;
    padding: 6px 0;
    border: none;
    background-color: #0862AB;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;  
}
.banner-form form > button:hover{
   background-image: linear-gradient(170deg,#C8DE50 15%, #035FAE); 
  
}

.banner-content{
    color: white;
}
.banner-content >div{
    display: flex;
    margin-top: 30px;
}

.banner-content > h3{
    margin: 30px 0;
    font-size: 22px;

}

.banner-content > p{
    font-size: 18px;
}

.section-2{
    padding: 20px 0;
}

.section-2 .container h1{
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    margin: 10px 0;
    color: #035FAE;
}

.section-2 .container h1 i{
    margin-right: 10px;
}

.section-2 .container h1 span{
    color: #FFCF40;
    font-family: "Lato", sans-serif;
    font-weight: 800;
}

.videos-inner{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap :30px
}

.videos-inner iframe{
    width: 100%;
    height: 200px;
    border-radius: 12px;
}

.videos-inner h3{
    text-align: center;
    margin-top: 10px;
    color: #035FAE;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
}

.moving-truck{
    position: fixed;
    bottom: 9px;
    animation: truckmove 10s infinite linear;
}

.truck-wheel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 8px 0 20px;
    position: absolute;
    top:85%; 
}

.truck-wheel img{
    animation: wheel-rotate 1s infinite linear;
}

@keyframes wheel-rotate{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes truckmove{
    from{
        left:-20%
    }
    to{
        left:120%
    }
}

.section-3{
    background-color: #F4F4F4;
    padding-top: 10px;
    
}

.section-3 .container h1{
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    margin: 10px 0;
    color: #035FAE;
}
.section-3 .container h1 span{
    color: #FFCF40;
    font-family: "Lato", sans-serif;
    font-weight: 800;
}

.section-3 .container h1 i{
    margin-right: 10px;
}
.ourservices{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 50px;
}

.inner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.house-shifting{
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}
.office-shifting{
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}
.car-shifting{
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}
.bike-shifting{
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.inner-content h2{  
    padding: 10px 0 ;    
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    color: #035FAE;
}

.inner-content p{
    padding: 0 15px;
    text-align: justify;
    font-family: "Lato", sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: rgb(108,103, 123);
}

.inner-content button{
    text-align: center;
    font-family:"Lato", sans-serif ;
    background-color: #FFCF40;
    border: none;
    padding: 8px 25px;
    margin: 20px 0;
    border-radius: 5px;
    font-size: 16px;
    text-transform: capitalize;
    box-shadow: 0px 4px 14px rgb(0 0 0 / 25%);
}

.office-shifting .inner-content button{
    margin-top: 45px;
}

.car-shifting .inner-content button{
    margin-top: 70px;
}

.section-4 .container h1{
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    margin: 10px 0;
    color: #035FAE;
    padding-top: 20px;
}
.section-4 .container h1 span{
    color: #FFCF40;
    font-family: "Lato", sans-serif;
    font-weight: 800;
}
.section-4 .container h1 i{
    margin-right: 10px;
}

.section-4 h2{
    padding-top: 20px;
    text-align: center;
}

.services{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px 0;
}
.over-services{
    text-align: center;
    background-color: #F4F4F4;
    padding: 15px;
    font-size: 14px;
    border-radius: 20px;
}

.over-services{
    padding-top: 20px;
}

.section-5{
    margin-top: 50px;
    background-color: #3675D7;
    color: white;
}

.section-5 h1{
    font-family: "Lato", sans-serif;
    font-weight: 800;
    padding-top: 30px;
    text-align: center;
}
.section-5 .container h1 i{
    margin-right: 10px;
}
.section-5 h3{
    font-family: "Lato", sans-serif;
    padding-top: 20px;
    text-align: center;
}

.experience{
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.yearexp{
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}

.num{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
}

.section-6{
    margin-top: 50px;
}

.section-6 .container h1{
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    margin: 10px 0;
    color: #035FAE;
    margin-bottom: 30px;
}
.section-6 .container h1 span{
    color: #FFCF40;
    font-family: "Lato", sans-serif;
    font-weight: 800;
}
.section-6 .container h1 i{
    margin-right: 10px;
}

.review{
    background-color: #3675D7;
    color: white;
    min-height: 312px;
    max-width: 850px;
    border-radius: 20px;
    margin-left: 150px;
    place-content: center;
    position: relative;
}    

.review i{
    font-size: 16px;
    margin-left:  150px;
}

.review p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0 80px 0 165px;
    line-height: 24px;
}

.customer-img{
    background-color: #FFCF40;
    border-radius: 0 8px 0 8px;
    position: absolute;
    left: -70px;
    top: 20%;
}

.customer-img h6{
    text-align: center;
    font-size: 15px; 
    text-transform: capitalize;
    padding-bottom: 10px;
}

.section-7{
    margin-top: 50px;
    background-color: #F4F4F4;
}
.section-7 .container h1{
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    color: #035FAE;
    padding: 30px 0;
}
.section-7 .container h1 span{
    color: #FFCF40;
    font-family: "Lato", sans-serif;
    font-weight: 800;
}  
.section-7 .container h1 i{
    margin-right: 10px;
}

.inner-div{
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.ourclient{
    padding: 0 10px;
    border-radius: 10px;
    
}
.ourclient img{
    border-radius: 10px;
}

.inner-div button{
    border: none;
    font-size: 20px;
    background-color: #F4F4F4;
}

.section-8{
    margin-top: 20px;
    
}
.section-8 .container h1{
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    color: #035FAE;
    padding: 30px 0;    
}
.section-8 .container h1 i{
    margin-right: 10px;
}
.section-8 .container h1 span{
    color: #FFCF40;
    font-family: "Lato", sans-serif;
    font-weight: 800;
}  
.branches{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.inner-branch{
    background-color: #F4F4F4;
    padding:  20px 10px ;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 30px;
}

.inner-branch h3{
    text-transform: capitalize;
    padding: 10px 0;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
}
.inner-branch p{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 24px;
}

.inner-branch i{
    font-size: 50px;
    color: #FFCF40;
    
}

footer{
    background-color: #F4F4F4;
    margin-top: 50px;
}

footer .container h1{
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    color: #035FAE;
    padding: 30px 0; 
       
}
footer .container h1 i{
    margin-right: 10px;
}
footer .container h1 span{
    color: #FFCF40;
    font-family: "Lato", sans-serif;
    font-weight: 800;
} 

.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-content ul li:first-child{
    font-size: "Lato", sans-serif;
    font-weight: 500;
    padding-bottom: 10px;
    font-size: 18px;
}

.footer-content ul {
    padding-bottom: 30px
}

.footer-content ul li{
    font-family: "Lato", sans-serif;
    padding-bottom: 5px;
}